<!-- <section class="property-binding">
<article>
  <h3> Interpolação</h3>
  <p> {{url}} </p>
  <p> Resultado de 1 + 1 é {{ 1 + 1 }}</p>
  <p> Resultado de 1 + 1 não é  {{ 1 + 1 + getValor() }}</p>
  <p> Curso de Angular e gosto do curso {{cursoAngular && getCurtirCurso()}}</p>
  <img [src]="urlImagem" alt="">
</article>

<article>
  <h3> Class e Style Binding</h3>
  <div >
    Selecione uma classe:
    <select #classe (change)="0">
      <option value="alert alert-success"> Sucesso </option>
      <option value="alert alert-danger"> Erro </option>
      <option value="alert alert-info"> Info </option>
    </select>
    <br><br>

    <div class="alert {{classe.value}}" role="alert">
      Esse texto será colorido conforme o ComboBox
    </div>

    <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert alert-success'">
      Um simples alerta success. Olha só!
    </div>
    <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert alert-danger'">
      Um simples alerta danger. Olha só!
    </div>
    <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert alert-info'">
      Um simples alerta info. Olha só!
    </div>
    <div class="alert" role="alert" [style.display]="classe.value == 'alert alert-info' ? 'block' : 'none'">
      Testando validação no display
    </div>
  </div>
</article>
</section> -->

<!-- <article>
  <h3> Event binding</h3>
  <div>
    <button (click)="botaoClicado()" class="btn btn-primary"> Me clique!</button>
  </div>

  <input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="salvarValor(campoInput.value)" #campoInput>

  <p> VALOR ATUAL:  {{valorAtual}}</p>

  <p> VALOR SALVO:  {{valorSalvo}}</p>

  <br>

  <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()" [class.highlight]="isMouseOver"> PASSE O MOUSE SOBRE MIM...</span>

   </article> -->


   <!-- <section>
    <article>
      <h3> Two-way data binding</h3>
      <div>

       <input type="text" [(ngModel)]="nome">
        <p>vc digitou o nome: {{nome}}</p>

      </div>

    </article>
   </section> -->
<!--
   <app-meu-form></app-meu-form> -->

<!-- <section>

  <article>
   <h3> Input/Output Porperties</h3>
   <app-curso [nomeCurso]="nomeCurso"></app-curso>
  </article>

</section> -->

<section>

  <article>
   <h3> Input/Output Porperties</h3>
   <contador [valor]="valorInicial" (mudouValor)="onMudouValor($event)"> </contador>
  </article>

</section>

